@import '../../styles/mixins';

.profile-settings {
  display: block;
  text-align: center;
  align-items: center;
  .section1 {
    display: flex;
    text-align: center;

    .basic-info {

      padding: 10px;
      margin: 10px;
      width: 20vw;
      border-radius: 5px;
      height: 70vh;
      -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
    }
    .edit-password {

      padding: 10px;
      margin: 10px;
      width: 20vw;
      border-radius: 5px;
      height: 70vh;
      -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
    }
    .legal-document {
      font-size: 20px;
      font-weight: 400;
      padding: 10px;
      margin: 10px;
      width: 20vw;
      border-radius: 5px;
      height: 70vh;
      -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
    }
    .uploads{
      display: inline-block;
      width: 100%;
    }


  }

  .section2 {

    display: flex;
    text-align: center;

    div {
      padding: 10px;
      margin: 10px;
      width: 20vw;
      border-radius: 5px;
      height: 70vh;
      -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
    }
  }
}
