@import '../../styles/mixins';

.home-login-signup {

justify-content: center;
  align-items: center;
  display: flex;
  width: 30vw;
  height: auto;
}
.loginSignup{
  margin:0;
  padding:0;
  align-items:center;
  justify-content: center;
  border:5px solid #ff9900;
  border-radius: 20px;
  width: 100%;
  height: 100%;
}
